In [ ]:
import pandas as pd
import io

def load_oecd_csv(path):
    lines = []
    with open(path, encoding="utf-8") as f:
        for line in f:
            # Righe problematiche: iniziano con " e finiscono con ,"
            if line.startswith('"') and line.endswith(',"\n'):
                # tolgo il primo " e l'ultimo ,"
                line = line[1:-3] + "\n"
            lines.append(line)

    text = "".join(lines)
    return pd.read_csv(io.StringIO(text))

csv = load_oecd_csv("../DataSets/oecd_dataset.csv")

In [ ]:

csv= csv.drop(columns=['STRUCTURE','STRUCTURE_ID','STRUCTURE_NAME', 'ACTION', 'REF_AREA','MEASURE', 'UNIT_MEASURE', 'AGE', 'Age', 'SEX', 'Sex', 'EDUCATION_LEV', 'Education level', 'DOMAIN', 'Time period', 'Observation value', 'OBS_STATUS', 'UNIT_MULT', 'Unit multiplier', 'DECIMALS', 'Decimals', 'BASE_PER', 'Base period'])

In [ ]:
csv.to_csv("../DataSets/preprocessed_dataset.csv")

In [ ]:
csv.head(50)

,Reference area,Measure,Unit of measure,Domain,TIME_PERIOD,OBS_VALUE,Observation status
0,Australia,Long-term unemployment rate,Percentage of labour force,Work and job quality,2020,1.306841,Normal value
1,Australia,Long-term unemployment rate,Percentage of labour force,Work and job quality,2019,1.239548,Normal value
2,Australia,Long-term unemployment rate,Percentage of labour force,Work and job quality,2017,1.357900,Normal value
3,Australia,Long-term unemployment rate,Percentage of labour force,Work and job quality,2016,1.393403,Normal value
4,Australia,Long-term unemployment rate,Percentage of labour force,Work and job quality,2015,1.456730,Normal value
5,Australia,Long-term unemployment rate,Percentage of labour force,Work and job quality,2014,1.361857,Normal value
6,Australia,Life expectancy at birth,Years,Health,2014,82.300000,Normal value
7,Australia,Life expectancy at birth,Years,Health,2013,82.100000,Normal value
8,Australia,Life expectancy at birth,Years,Health,2012,82.000000,Normal value
9,Australia,Life expectancy at birth,Years,Health,2011,81.900000,Normal value
10,Australia,Life expectancy at birth,Years,Health,2010,81.700000,Normal value
11,Australia,Life expectancy at birth,Years,Health,2009,81.500000,Normal value
12,Australia,Life expectancy at birth,Years,Health,2008,81.400000,Normal value
13,Australia,Life expectancy at birth,Years,Health,2007,81.300000,Normal value
14,Australia,Life expectancy at birth,Years,Health,2006,81.000000,Normal value
15,Australia,Life expectancy at birth,Years,Health,2005,80.800000,Normal value
16,Australia,Life expectancy at birth,Years,Health,2004,80.500000,Normal value
17,Australia,Housing affordability,Percentage of household gross adjusted disposa...,Housing,2009,80.620449,Normal value
18,Australia,Housing affordability,Percentage of household gross adjusted disposa...,Housing,2008,81.185597,Normal value
19,Australia,Housing affordability,Percentage of household gross adjusted disposa...,Housing,2007,80.896427,Normal value
20,Australia,Housing affordability,Percentage of household gross adjusted disposa...,Housing,2006,80.846424,Normal value
21,Australia,Housing affordability,Percentage of household gross adjusted disposa...,Housing,2005,80.773237,Normal value
22,Australia,Housing affordability,Percentage of household gross adjusted disposa...,Housing,2004,80.742786,Normal value
23,Australia,Student reading skills,Points,Knowledge and skills,2018,502.631724,Normal value
24,Australia,Student reading skills,Points,Knowledge and skills,2015,502.900560,Normal value
25,Australia,Student reading skills,Points,Knowledge and skills,2012,511.803998,Normal value
26,Australia,Student reading skills,Points,Knowledge and skills,2009,514.900655,Normal value
27,Australia,Student reading skills,Points,Knowledge and skills,2006,512.893292,Normal value
28,Australia,Life expectancy at birth,Years,Health,2023,83.000000,Normal value
29,Australia,Life expectancy at birth,Years,Health,2018,82.800000,Normal value
30,Australia,Student reading skills,Points,Knowledge and skills,2022,498.050000,Normal value
31,Australia,Adult literacy skills,Points,Knowledge and skills,2012,280.401070,Normal value
32,Australia,Life satisfaction,0-10 scale,Subjective well-being,2020,7.200000,Normal value
33,Australia,Life satisfaction,0-10 scale,Subjective well-being,2019,7.500000,Normal value
34,Australia,Having a say in government,Percentage of population aged 16-65 years,Civic engagement,2023,46.462800,Normal value
35,Australia,Having a say in government,Percentage of population aged 16-65 years,Civic engagement,2021,32.025161,Normal value
36,Australia,Life expectancy at birth,Years,Health,2022,83.200000,Normal value
37,Australia,Life expectancy at birth,Years,Health,2021,83.300000,Normal value
38,Australia,Life expectancy at birth,Years,Health,2020,83.200000,Normal value
39,Australia,Life expectancy at birth,Years,Health,2019,82.900000,Normal value
40,Australia,Life expectancy at birth,Years,Health,2017,82.500000,Normal value
41,Australia,Life expectancy at birth,Years,Health,2016,82.400000,Normal value
42,Australia,Life expectancy at birth,Years,Health,2015,82.400000,Normal value
43,Australia,Long-term unemployment rate,Percentage of labour force,Work and job quality,2013,1.110651,Normal value
44,Australia,Long-term unemployment rate,Percentage of labour force,Work and job quality,2010,0.989282,Normal value
45,Australia,Long-term unemployment rate,Percentage of labour force,Work and job quality,2009,0.835739,Normal value
46,Australia,Long-term unemployment rate,Percentage of labour force,Work and job quality,2007,0.824476,Normal value
47,Australia,Long-term unemployment rate,Percentage of labour force,Work and job quality,2006,0.881958,Normal value
48,Australia,Long-term unemployment rate,Percentage of labour force,Work and job quality,2005,0.905661,Normal value
49,Australia,Long-term unemployment rate,Percentage of labour force,Work and job quality,2004,0.968060,Normal value

In [ ]:
csv.shape

(8005, 7)

In [ ]:
csv["Measure"].unique()

array(['Long-term unemployment rate', 'Life expectancy at birth',
       'Housing affordability', 'Student reading skills',
       'Adult literacy skills', 'Life satisfaction',
       'Having a say in government', 'Social support',
       'Feeling safe at night',
       'Households and NPISHs net adjusted disposable income per capita',
       'Average annual gross earnings', 'Employment rate',
       'Self-reported depression', 'Difficulty making ends meet',
       'Feeling lonely'], dtype=object)

In [ ]:
csv["TIME_PERIOD"].unique()

array([2020, 2019, 2017, 2016, 2015, 2014, 2013, 2012, 2011, 2010, 2009,
       2008, 2007, 2006, 2005, 2004, 2018, 2023, 2022, 2021, 2024])

In [ ]:
dups = (
    csv
    .groupby(["Reference area", "TIME_PERIOD", "Measure"])
    .size()
    .reset_index(name="n")
    .query("n > 1")
)
dups

Empty DataFrame
Columns: [Reference area, TIME_PERIOD, Measure, n]
Index: []

In [ ]:
csv["id"] = (
    csv["Measure"] + " [" + csv["Unit of measure"] + "]"
)

out = csv.pivot(
    index=["Reference area", "TIME_PERIOD"],
    columns="id",
    values="OBS_VALUE"
).reset_index()
out.to_csv("../DataSets/pivoted_preprocessed_dataset.csv")
out.head(50)

id,Reference area,TIME_PERIOD,Adult literacy skills [Points],Average annual gross earnings [ PPP converted],Difficulty making ends meet [Percentage of population aged 16 years or over],Employment rate [Percentage of population aged 25-64 years],Feeling lonely [Percentage of population aged 16 years or over],Feeling safe at night [Percentage of population aged 15 years or over],Having a say in government [Percentage of population aged 16-65 years],Households and NPISHs net adjusted disposable income per capita [ PPP converted],Housing affordability [Percentage of household gross adjusted disposable income],Life expectancy at birth [Years],Life satisfaction [0-10 scale],Long-term unemployment rate [Percentage of labour force],Self-reported depression [Percentage of population aged 15 years or over],Social support [Percentage of population aged 15 years or over],Student reading skills [Points]
0,Argentina,2004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,74.9,NaN,NaN,NaN,NaN,NaN
1,Argentina,2005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,75.2,NaN,NaN,NaN,NaN,NaN
2,Argentina,2006,NaN,NaN,NaN,NaN,NaN,41.500000,NaN,NaN,NaN,75.3,NaN,NaN,NaN,89.013534,NaN
3,Argentina,2007,NaN,NaN,NaN,NaN,NaN,41.500000,NaN,NaN,NaN,74.8,NaN,NaN,NaN,89.013534,NaN
4,Argentina,2008,NaN,NaN,NaN,NaN,NaN,39.333333,NaN,NaN,NaN,75.4,NaN,NaN,NaN,90.156300,NaN
5,Argentina,2009,NaN,NaN,NaN,NaN,NaN,39.333333,NaN,NaN,NaN,75.6,NaN,NaN,NaN,90.156300,NaN
6,Argentina,2010,NaN,NaN,NaN,NaN,NaN,39.333333,NaN,NaN,NaN,75.7,NaN,NaN,NaN,90.156300,NaN
7,Argentina,2011,NaN,NaN,NaN,NaN,NaN,46.333333,NaN,NaN,NaN,76.1,NaN,NaN,NaN,89.214418,NaN
8,Argentina,2012,NaN,NaN,NaN,NaN,NaN,46.333333,NaN,NaN,NaN,75.8,NaN,NaN,NaN,89.214418,NaN
9,Argentina,2013,NaN,NaN,NaN,NaN,NaN,46.333333,NaN,NaN,NaN,75.8,NaN,NaN,NaN,89.214418,NaN
10,Argentina,2014,NaN,NaN,NaN,NaN,NaN,41.333333,NaN,NaN,NaN,76.3,NaN,NaN,NaN,90.219738,NaN
11,Argentina,2015,NaN,NaN,NaN,NaN,NaN,41.333333,NaN,NaN,NaN,76.6,NaN,NaN,NaN,90.219738,NaN
12,Argentina,2016,NaN,NaN,NaN,72.432,NaN,41.333333,NaN,NaN,NaN,76.1,NaN,2.331200,NaN,90.219738,NaN
13,Argentina,2017,NaN,NaN,NaN,73.548,NaN,41.000000,NaN,NaN,NaN,76.5,NaN,2.702395,NaN,89.820633,NaN
14,Argentina,2018,NaN,NaN,NaN,72.632,NaN,41.000000,NaN,NaN,NaN,76.8,NaN,3.105935,NaN,89.820633,NaN
15,Argentina,2019,NaN,NaN,NaN,73.067,NaN,41.000000,NaN,NaN,NaN,76.8,NaN,3.408814,NaN,89.820633,NaN
16,Argentina,2020,NaN,NaN,NaN,70.181,NaN,49.333333,NaN,NaN,NaN,75.9,NaN,3.015614,NaN,88.450734,NaN
17,Argentina,2021,NaN,NaN,NaN,75.428,NaN,49.333333,NaN,NaN,NaN,73.9,NaN,3.274448,NaN,88.450734,NaN
18,Argentina,2022,NaN,NaN,NaN,76.746,NaN,49.333333,NaN,NaN,NaN,75.8,NaN,2.315642,NaN,88.450734,NaN
19,Argentina,2023,NaN,NaN,NaN,77.853,NaN,44.500000,NaN,NaN,NaN,77.4,NaN,1.898689,NaN,90.325143,NaN
20,Argentina,2024,NaN,NaN,NaN,NaN,NaN,44.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,90.325143,NaN
21,Australia,2004,NaN,61629.110,NaN,72.397,NaN,NaN,NaN,35102.0,80.742786,80.5,NaN,0.968060,NaN,NaN,NaN
22,Australia,2005,NaN,62347.376,NaN,73.679,NaN,NaN,NaN,35425.0,80.773237,80.8,NaN,0.905661,NaN,NaN,NaN
23,Australia,2006,NaN,62769.154,NaN,74.309,NaN,63.000000,NaN,36716.0,80.846424,81.0,NaN,0.881958,NaN,96.185359,512.893292
24,Australia,2007,NaN,64500.872,NaN,75.057,NaN,63.000000,NaN,38144.0,80.896427,81.3,NaN,0.824476,NaN,96.185359,NaN
25,Australia,2008,NaN,64995.647,NaN,75.475,NaN,63.500000,NaN,40098.0,81.185597,81.4,NaN,0.807027,NaN,94.771326,NaN
26,Australia,2009,NaN,64406.029,NaN,74.893,NaN,NaN,NaN,39776.0,80.620449,81.5,NaN,0.835739,NaN,NaN,514.900655
27,Australia,2010,NaN,66705.582,NaN,75.444,NaN,63.500000,NaN,41406.0,80.833050,81.7,NaN,0.989282,NaN,94.771326,NaN
28,Australia,2011,NaN,68914.944,NaN,75.798,NaN,65.333333,NaN,42084.0,80.551095,81.9,NaN,0.984458,NaN,94.415006,NaN
29,Australia,2012,280.40107,69392.868,NaN,75.589,NaN,65.333333,NaN,41572.0,80.054562,82.0,NaN,1.013313,NaN,94.415006,511.803998
30,Australia,2013,NaN,69189.387,NaN,75.336,NaN,65.333333,NaN,42081.0,80.132222,82.1,NaN,1.110651,NaN,94.415006,NaN
31,Australia,2014,NaN,69877.669,NaN,75.050,NaN,63.666667,NaN,42674.0,80.222001,82.3,NaN,1.361857,NaN,93.562880,NaN
32,Australia,2015,NaN,69464.852,NaN,75.580,NaN,63.666667,NaN,42716.0,80.072886,82.4,NaN,1.456730,NaN,93.562880,502.900560
33,Australia,2016,NaN,69806.581,NaN,75.888,NaN,63.666667,NaN,43069.0,80.057727,82.4,NaN,1.393403,NaN,93.562880,NaN
34,Australia,2017,NaN,69579.169,NaN,76.380,NaN,63.666667,NaN,43399.0,79.979501,82.5,NaN,1.357900,NaN,94.095001,NaN
35,Australia,2018,NaN,69832.234,NaN,76.917,NaN,63.666667,NaN,43982.0,80.197539,82.8,NaN,1.343368,NaN,94.095001,502.631724
36,Australia,2019,NaN,70501.846,NaN,77.598,NaN,63.666667,NaN,45273.0,80.657334,82.9,7.5,1.239548,NaN,94.095001,NaN
37,Australia,2020,NaN,71915.394,NaN,76.129,NaN,67.666667,NaN,47039.0,81.037482,83.2,7.2,1.306841,NaN,92.969471,NaN
38,Australia,2021,NaN,72716.686,NaN,77.851,NaN,67.666667,32.025161,48641.0,81.653128,83.3,NaN,1.497928,NaN,92.969471,NaN
39,Australia,2022,NaN,71109.992,NaN,79.578,NaN,67.666667,NaN,46375.0,81.032666,83.2,NaN,0.940275,NaN,92.969471,498.050000
40,Australia,2023,NaN,70422.098,NaN,80.100,NaN,67.000000,46.462800,45485.0,80.474064,83.0,NaN,0.732252,NaN,89.363618,NaN
41,Australia,2024,NaN,70736.187,NaN,80.266,NaN,67.000000,NaN,NaN,NaN,NaN,NaN,0.837337,NaN,89.363618,NaN
42,Austria,2004,NaN,68251.938,10.7,69.865,NaN,NaN,NaN,42817.0,80.547890,79.3,NaN,1.539697,NaN,NaN,NaN
43,Austria,2005,NaN,68622.299,9.6,70.806,NaN,NaN,NaN,44034.0,80.286339,79.5,NaN,1.447523,NaN,NaN,NaN
44,Austria,2006,NaN,69651.630,7.8,72.090,NaN,75.000000,NaN,45186.0,80.540738,80.1,NaN,1.480676,NaN,91.604918,490.193977
45,Austria,2007,NaN,70059.180,10.9,73.360,NaN,NaN,NaN,46205.0,80.918387,80.3,NaN,1.341305,NaN,NaN,NaN
46,Austria,2008,NaN,71218.017,14.0,74.340,NaN,77.333333,NaN,46668.0,80.726436,80.6,NaN,1.019123,NaN,91.452772,NaN
47,Austria,2009,NaN,72435.383,15.4,74.041,NaN,77.333333,NaN,46927.0,80.691981,80.5,NaN,1.168173,NaN,91.452772,470.283632
48,Austria,2010,NaN,72103.745,14.4,74.646,NaN,77.333333,NaN,46352.0,80.180035,80.7,NaN,1.246872,NaN,91.452772,NaN
49,Austria,2011,NaN,71327.643,14.4,74.745,NaN,83.000000,NaN,45582.0,79.690669,81.1,NaN,1.216171,NaN,93.958903,NaN

In [ ]:
tables = {}
for mh, tmp in csv.groupby("measure_header"):
    tables[mh] = tmp.pivot_table(
        index="Reference area",
        columns="TIME_PERIOD",
        values="OBS_VALUE",
        aggfunc="mean"
    )
    
for mh, df_mh in tables.items():
    # make a safe filename from the header
    safe_name = mh.replace(" ", "_").replace("[", "").replace("]", "")
    filename = f"../DataSets/pivot_{safe_name}.csv"
    df_mh.to_csv(filename, index=True)