In [2]:
import pandas as pd
import numpy as np

In [12]:
df_pil_pp = pd.read_excel("../DataSets/pil_capite_ch.xlsx")
#drop ultima colonna
df_pil_pp = df_pil_pp.drop(columns=df_pil_pp.columns[-1])
#rinomina le colonne
df_pil_pp.columns = [ 'Year', 'PIL_per_capita_ch', 'percent_change' ]
#rimuovi riga 1 e 2
df_pil_pp = df_pil_pp.drop(index=[0, 1])
#correggi indici
df_pil_pp = df_pil_pp.reset_index(drop=True)
df_pil_pp.head()

   Year PIL_per_capita_ch percent_change
0  1991      57310.478997            NaN
1  1992      57917.137264       1.058547
2  1993      58610.126262       1.196518
3  1994      59441.618691       1.418684
4  1995      59688.145398       0.414738

In [ ]:
df_ipc_annuo = pd.read_excel("../DataSets/ipc_ch.xlsx", sheet_name="INDEX_y")
df_ipc_percent = pd.read_excel("../DataSets/ipc_ch.xlsx", sheet_name="VAR_y-1")

df_ipc_annuo.head()
#rimuovi tutto tranne riga 2,3
df_ipc_annuo = df_ipc_annuo.iloc[2:4, :]
#correggi indici
df_ipc_annuo = df_ipc_annuo.reset_index(drop=True)
df_ipc_annuo.head()

#drop tutte le colonne fino unnamed: 13
df_ipc_annuo = df_ipc_annuo.drop(columns=df_ipc_annuo.columns[0:14])
df_ipc_annuo.head()
#struttura deve avere solo 2 colonne: Year, IPC_index, riga 0 colonna 0 anni e riga 1 colonna  1 IPC index
df_ipc_annuo = df_ipc_annuo.transpose()
df_ipc_annuo.columns = ['Year', 'IPC_index']
df_ipc_annuo = df_ipc_annuo.reset_index(drop=True)
df_ipc_annuo.head()

#ripeti operazioni per df_ipc_percent
df_ipc_percent = df_ipc_percent.iloc[2:4, :]
df_ipc_percent = df_ipc_percent.reset_index(drop=True)
df_ipc_percent = df_ipc_percent.drop(columns=df_ipc_percent.columns[0:14])
df_ipc_percent = df_ipc_percent.transpose()
df_ipc_percent.columns = ['Year', 'IPC_percent_change']
df_ipc_percent = df_ipc_percent.reset_index(drop=True)
df_ipc_percent.head()

#unisci i due dataframe df_ipc_annuo e df_ipc_percent in base alla colonna Year chiamato df_ipc
df_ipc = pd.merge(df_ipc_annuo, df_ipc_percent, on='Year')
df_ipc.head()

   Year IPC_index IPC_percent_change
0  1983      63.8                NaN
1  1984      65.7                2.9
2  1985        68                3.4
3  1986      68.5                0.8
4  1987      69.5                1.4

In [ ]:
all_sheet = pd.read_excel("../DataSets/disoccupazione_ch.xlsx", sheet_name=None)
df_unemployment = []
for sheet_name in all_sheet:
    df_temp = pd.read_excel("../DataSets/disoccupazione_ch.xlsx", sheet_name=sheet_name)
    df_temp['Year'] = sheet_name
    df_temp.head()